@import '../../../node_modules/react-image-gallery/styles/css/image-gallery.css';

.product-images {
	width: 400px;
	margin-right: 20px;
}

.image-gallery {
	width: 400px;
}

.image-gallery-slide img {
	width: 100%;
	border: solid grey 1px;
}

.image-gallery-slide-wrapper {
	margin-bottom: 10px;
}