.list-paper {
	width: 100%;
	margin-top: 10px;
}

.list-div {
	overflow-x: auto;
}

.list-table {
	min-width: 500px;
}

.list-table-header {
	font-size: 14px;
	background-color: grey;
	color: white;
}

.list-table-header .MuiTableSortLabel-root:hover,
.list-table-header .MuiTableSortLabel-root.MuiTableSortLabel-active,
.list-table-header .MuiTableSortLabel-root:hover .MuiTableSortLabel-icon,
.list-table-header .MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
	color: white;
}

.list-table-detail {
	cursor: pointer;
}

.list-no-records {
	margin: 20px;
	font-size: 16px;
}