.list-paper {
	width: 100%;
	margin-top: 10px;
}

.list-div {
	overflow-x: auto;
}

.list-table {
	min-width: 500px;
}

.list-table-header {
	font-size: 14px;
}

.list-table-detail {
	cursor: pointer;
}