.list-div {
	width: 100%;
	margin-top: 10px;
	overflow-x: auto;
}

.list-table {
	min-width: 500px;
}

.list-table-header {
	font-size: 14px;
}

.list-table-detail {
	cursor: pointer;
}

.list-no-records {
	margin: 20px;
	font-size: 16px;
}

.list-mobile-item-container {
	flex-direction: column;
	align-items: flex-start;
}

.list-mobile-item-container .list-mobile-item .list-mobile-label {
	font-weight: 500;
	width: 120px;
	display: inline-block;
}

.list-mobile-sort {
	width: 100%;
	padding: 20px;
	text-align: right;
}