.cart-product {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	color: black;
	padding-top: 10px;
}

.cart-product-info {
	flex-basis: 300px;
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.cart-product-image {
	margin-bottom: 10px;
	margin-right: 10px;
}

.cart-product-image img {
	border: solid grey 1px;
}

.cart-product-text {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.cart-product-title {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
}

.cart-product-price, .cart-product-quantity, .cart-product-subtotal {
	flex-basis: 120px;
	flex-grow: 0;
	flex-shrink: 0;
	font-size: 16px;
}

.cart-product-subtotal {
	font-weight: bold;
}

.cart-product-price-label, .cart-product-quantity-label, .cart-product-subtotal-label {
	display: none;
}

.cart-product-quantity > div {
	width: 40px;
}

.cart-product-options {
	flex-basis: 380px;
	flex-grow: 0;
	flex-shrink: 0;
	text-align: right;
}

.cart-product-options > * {
	margin-right: 5px;
}

@media only screen and (max-width: 1100px) {
	
	.cart-product-price, .cart-product-quantity, .cart-product-subtotal {
		width: 80px;
		flex-basis: 80px;
	}

	.cart-product-options {
		width: 160px;
		flex-basis: 160px;
	}
	
	.cart-product-options > * {
		width: 150px;
		margin-bottom: 5px;
	}
	
}

@media only screen and (max-width: 750px) {
	
	.cart-product {
		flex-wrap: wrap;
	}
	
	.cart-product-info {
		flex-basis: 100%;
		width: 100%;
	}
	
	.cart-product-price, .cart-product-quantity, .cart-product-subtotal {
		flex-basis: 33%;
		width: 33%;
		font-size: 14px;
	}
	
	.cart-product-price-label, .cart-product-quantity-label, .cart-product-subtotal-label {
		display: inline;
		font-weight: normal;
		margin-right: 5px;
	}
	
	.cart-product-quantity > div {
		position: relative;
		top: -5px;
	}
	
	.cart-product-options {
		width: 100%;
		flex-basis: 100%;
		text-align: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.cart-product-options > * {
		width: auto;
		font-size: 12px;
	}
	
}

@media only screen and (max-width: 400px) {
	
	.cart-product-price {
		flex-basis: 37%;
		width: 37%;
	}
	.cart-product-quantity {
		flex-basis: 26%;
		width: 26%;
	}
	.cart-product-subtotal {
		flex-basis: 37%;
		width: 37%;
	}

	.cart-product-quantity > div {
		width: 30px;
		font-size: 14px;
	}
	
	.cart-product-price-label, .cart-product-quantity-label, .cart-product-subtotal-label {
		margin-right: 0;
	}
	
	.cart-product-options > button {
		width: auto;
		font-size: 12px;
		padding-left: 7px;
		padding-right: 7px;
	}
}

